<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content white-text">
                <div class="">
                    <div class="col s12">
                        <div style="font-size: 25px;">Thêm bác sĩ: </div>
                        <form #BacSiForm="ngForm" (ngSubmit)="onSubmit(BacSiForm)">
                            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="BacSiService.selectedBacSi._id">
                            <div class="row">
                                <div class="input-field col s12">
                                    <div>Mã bác sĩ :
                                        <label class="red-text">*</label>
                                    </div>
                                    <input type="text" name="MaBacSi" #MaBacSi="ngModel" [(ngModel)]="BacSiService.selectedBacSi.MaBacSi" placeholder="" required>

                                    <span *ngIf="BacSiForm.submit && !BacSiService.selectedBacSi.MaBacSi">Trường này bắt buộc Nhập</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <div>Họ và tên bác sĩ :
                                        <label class="red-text">*</label>
                                    </div>
                                    <input type="text" name="TenBacSi" #TenBacSi="ngModel" [(ngModel)]="BacSiService.selectedBacSi.TenBacSi" placeholder="" required>

                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <div>Số điện thoại :</div>
                                    <input type="text" name="SDT" #name="ngModel" [(ngModel)]="BacSiService.selectedBacSi.SDT" placeholder="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <div>Giới thiệu chung :</div>
                                    <input type="text" name="GioiThieuChung" #name="ngModel" [(ngModel)]="BacSiService.selectedBacSi.GioiThieuChung" placeholder="">

                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <div>Chi phí tư vấn(VNĐ) :</div>
                                    <input type="number" name="ChiPhiTuVan" #name="ngModel" [(ngModel)]="BacSiService.selectedBacSi.ChiPhiTuVan" placeholder="">

                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <div>Chức vị :</div>
                                    <input type="text" name="ChucVi" #name="ngModel" [(ngModel)]="BacSiService.selectedBacSi.ChucVi" placeholder="TS, PGS.TS, Th.S,...">

                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <div>Khoa :</div>
                                    <input type="text" name="Khoa" #name="ngModel" [(ngModel)]="BacSiService.selectedBacSi.Khoa" placeholder="">

                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <div>Phòng khám :</div>
                                    <input type="text" name="PhongKham" #name="ngModel" [(ngModel)]="BacSiService.selectedBacSi.PhongKham" placeholder="">

                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <button class="btn btn-custom right" type="button" (click)="resetForm(BacSiForm)">Reset</button>
                                    <button class="btn btn-custom right" type="submit" [disabled]="!BacSiForm.valid">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col s12">
                        <div style="font-size: 25px">Danh sách bác sĩ:</div>
                        <div class="search-box">
                            <input type="text" style="width:80%" id="searchBox" name="searchBox" [(ngModel)]="textSearch" placeholder="Tìm theo mã bác sĩ/tên bác sĩ/ phòng khám" />
                            <button style="width: 10%; margin-bottom: 8px;" (click)="search()">Tìm kiếm</button>
                            <button style="width: 8%; margin-left:5px; margin-bottom: 8px;" (click)="Reset()">Reset</button>
                        </div>
                        <div style="height: 500px; overflow: auto;">
                            <table class="responsive-table highlight">
                                <thead>
                                    <tr>
                                        <th>Mã</th>
                                        <th>Tên bác sĩ</th>
                                        <th>SDT</th>
                                        <th>Giới thiệu chung</th>
                                        <th>CPTV</th>
                                        <th>CV</th>
                                        <th>Khoa</th>
                                        <th>Phòng</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tr *ngFor="let BS of dsBacSi">
                                    <td>{{BS.MaBacSi}}</td>
                                    <td>{{BS.TenBacSi}}</td>
                                    <td>{{BS.SDT}}</td>
                                    <td>{{BS.GioiThieuChung}}</td>
                                    <td>{{BS.ChiPhiTuVan}}</td>
                                    <td>{{BS.ChucVi}}</td>
                                    <td>{{BS.Khoa}}</td>
                                    <td>{{BS.PhongKham}}</td>
                                    <td>
                                        <a class="action-btn" (click)="onEdit(BS)">
                                            <i class="material-icons">edit</i>
                                        </a>
                                        <a class="action-btn" (click)="onDelete(BS._id,BacSiForm)">
                                            <i class="material-icons">delete</i>
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>