<div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-content white-text">
          <div class="row">
            <div class="col s3">
              <form #BacSiForm="ngForm" (ngSubmit)="onSubmit(BacSiForm)">
                <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="BacSiService.selectedBacSi._id">
                <div class="row">
                    <div class="input-field col s12">
                      <input type="text" name="MaBacSi" #name="ngModel" [(ngModel)]="BacSiService.selectedBacSi.MaBacSi" placeholder="Nhập chính xác Mã bác sĩ" required>
                      <label>Mã bác sĩ :
                        <label class="red-text">*</label>
                      </label>
                    </div>
                  </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="TenBacSi" #name="ngModel" [(ngModel)]="BacSiService.selectedBacSi.TenBacSi" placeholder="Nhập đầy đủ họ và tên" required>
                    <label>Tên bác sĩ :
                      <label class="red-text">*</label>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="number" name="SDT" #name="ngModel" [(ngModel)]="BacSiService.selectedBacSi.SDT" placeholder="">
                    <label>Số điện thoại :</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="text" name="GioiThieuChung" #name="ngModel" [(ngModel)]="BacSiService.selectedBacSi.GioiThieuChung" placeholder="Nhập giới thiệu ngắn gọn về bác sĩ">
                    <label>Giới thiệu chung :</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input type="number" name="ChiPhiTuVan" #name="ngModel" [(ngModel)]="BacSiService.selectedBacSi.ChiPhiTuVan" placeholder="Đơn vị đồng">
                    <label>Chi phí tư vấn :</label>
                  </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                      <input type="text" name="ChucVi" #name="ngModel" [(ngModel)]="BacSiService.selectedBacSi.ChucVi" placeholder="TS, PGS.TS,">
                      <label>Chức vị :</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                      <input type="text" name="Khoa" #name="ngModel" [(ngModel)]="BacSiService.selectedBacSi.Khoa" placeholder="">
                      <label>Khoa :</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input type="text" name="PhongKham" #name="ngModel" [(ngModel)]="BacSiService.selectedBacSi.PhongKham" placeholder="">
                      <label>Phòng khám :</label>
                    </div>
                  </div>
                <div class="row">
                  <div class="input-field col s12">
                    <button class="btn btn-custom right" type="button" (click)="resetForm(BacSiForm)">Reset</button>
                    <button class="btn btn-custom right" type="submit" [disabled]="!BacSiForm.valid">Submit</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="col s9">
                <table class="responsive-table highlight">
                    <thead>
                      <tr>
                        <th >Mã</th>
                        <th >Tên bác sĩ</th>
                        <th >SDT</th>
                        <th >Giới thiệu chung</th>
                        <th >CPTV</th>
                        <th >CV</th>
                        <th >Khoa</th>
                        <th >Phòng</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tr *ngFor="let BS of BacSiService.BacSis">
                      <td >{{BS.MaBacSi}}</td>
                      <td >{{BS.TenBacSi}}</td>
                      <td >{{BS.SDT}}</td>
                      <td >{{BS.GioiThieuChung}}</td>
                      <td >{{BS.ChiPhiTuVan}}</td>
                      <td >{{BS.ChucVi}}</td>
                      <td >{{BS.Khoa}}</td>
                      <td >{{BS.PhongKham}}</td>
                      <td>
                          <a class="action-btn" (click)="onEdit(BS)">
                            <i class="material-icons">edit</i>
                          </a>
                          <a class="action-btn" (click)="onDelete(BS._id,BacSiForm)">
                            <i class="material-icons">delete</i>
                          </a>
                        </td>
                    </tr>
                  </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </div>