<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content white-text">
                <div class="row">
                    <div class="col s3">
                        <form #BSDichVuForm="ngForm" (ngSubmit)="onSubmit(BSDichVuForm)">
                            <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="BSDichVuService.selectedBSDichVu._id">
                            <div class="row">
                                <label class="label-gio">Mã dịch vụ :<span class="red-text"> *</span></label>
                                <div class="input-field col s12">
                                    <select name="maDichVu" [(ngModel)]="BSDichVuService.selectedBSDichVu.maDichVu" required (change)="changeOptionService(BSDichVuService.selectedBSDichVu.maDichVu)">
                                        <option *ngFor=" let DichVu of DichVuService.dsDichVu"  value="{{DichVu.maDichVu}}">Mã: {{DichVu.maDichVu}} - {{DichVu.tenDichVu}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <label class="label-gio">Mã bác sĩ :<span class="red-text"> *</span></label>
                                <div class="input-field col s12">
                                    <select name="maBacSi" [(ngModel)]="BSDichVuService.selectedBSDichVu.maBacSi" required (change)="changeOptionDoctor(BSDichVuService.selectedBSDichVu.maBacSi)">
                                        <option *ngFor=" let BacSi of BacSiService.BacSis" value="{{BacSi.MaBacSi}}">Mã: {{BacSi.MaBacSi}} - {{BacSi.TenBacSi}}</option>
                                    </select>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="MaDichVu" #name="ngModel" [(ngModel)]="BSDichVuService.selectedBSDichVu.MaDichVu" placeholder="Nhập chính xác Mã dịch vụ" required>
                                    <label>Mã dịch vụ :
                                    <label class="red-text">*</label>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" name="MaBacSi" #name="ngModel" [(ngModel)]="BSDichVuService.selectedBSDichVu.MaBacSi" placeholder="" required>
                                    <label>Mã Bác Sĩ :
                                        <label class="red-text">*</label>
                                    </label>
                                </div>
                            </div> -->

                            <input type="hidden" name="tenBacSi" #name="ngModel" [(ngModel)]="BSDichVuService.selectedBSDichVu.tenBacSi" placeholder="">

                            <input type="hidden" name="tenDichVu" #name="ngModel" [(ngModel)]="BSDichVuService.selectedBSDichVu.tenDichVu" placeholder="">

                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="number" name="donGiaDichVu" #donGiaDichVu="ngModel" [(ngModel)]="BSDichVuService.selectedBSDichVu.donGiaDichVu" placeholder="" required>
                                    <label>Đơn giá dịch vụ :
                                    <label class="red-text">*</label>
                                    </label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <button class="btn btn-custom right" type="button" (click)="resetForm(BSDichVuForm)">Reset</button>
                                    <button class="btn btn-custom right" type="submit" [disabled]="!BSDichVuForm.valid">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col s9">
                        <!-- test -->

                        <!-- test -->
                        <table class="responsive-table highlight">
                            <thead>
                                <tr>
                                    <th>Dịch vụ</th>
                                    <th>Bác sĩ</th>
                                    <th>Phí dịch vụ</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tr *ngFor="let BSDV of BSDichVuService.dsBSDichVu">
                                <td>{{BSDV.maDichVu}} - {{BSDV.tenDichVu}}</td>
                                <td>{{BSDV.maBacSi}} - {{BSDV.tenBacSi}}</td>
                                <td>{{BSDV.donGiaDichVu}}</td>
                                <td>
                                    <a class="action-btn" (click)="onEdit(BSDV)">
                                        <i class="material-icons">edit</i>
                                    </a>
                                    <a class="action-btn" (click)="onDelete(BSDV._id,BSDichVuForm)">
                                        <i class="material-icons">delete</i>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>